<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>집 등록하기</h1>
    <form action="/applyphoto" method="get">
      <input placeholder="위치를 입력하세요" required name="location" />
      <input type="checkbox" name="clean" value="clean" />
      <textarea
        name="built"
        placeholder="built-in"
        cols="45"
        rows="4"
        required
      ></textarea>
      <button>사진 입력</button>
    </form>
  </body>
</html>
